/* Estilos Componente Cards*/

.cards_container{
display: flex;
margin: 0.5rem 0;

}



.cards{
width: 70%; 
height: 100vh;
display: flex;
align-items: flex-start;
justify-content: center;
flex-wrap: wrap;
overflow-y: auto;  
}

.favorites{
    
    margin-top: 1rem;
    color: white;
    background-color:#ccc;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    min-width: 24rem;
    max-width: 28rem;
    height: 100%; 

}

/* Estilos Componente Card */

.card_containerInfo-plus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.card{
    display: flex;
    margin: 1rem;
    background-color: #3C3E44;
    color: white;
    height: 7rem;
    width: 22rem;
    border-radius: 0.8rem;
    overflow: hidden;
}



.card_containerInfo{
    height: 100%;
    padding: 0.3rem 0;
    margin-left:1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card_containerInfo-plus > :first-child {

    margin-right: 1rem;
  }

.card_containerInfo p,.card_containerInfo h3 {
    margin: 0;
}

.card_containerInfo P{
    font-size: 0.7rem;
}

.card_img{
    width: auto;
    height: 100%;
}

.card_btnContainer{
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card_button{
    all:unset;
    cursor: pointer;
}




/* Media Queries */

@media (max-width:980px){

.cards_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    width: 100%;
}

}


@media (max-width:1330px){

    .card{
        height: 8rem;
        width: 20rem;  
    }
    
  }


@media (max-width:1265px){

    .card{

        height: 8rem;
        width: 24rem;
    }

    .favorites{
        min-width: 27rem;  
    }
    
  }
