:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: black;
  width: 100%;
  /* background-color: red; */
  padding: 0;
  margin: 0;
  
}

#root{
  /* background-color: blue; */
  width: 100%;
  margin: 0;
  padding: 0;
}







button {
  border-radius: 8px;
  background-color: #ccc ;
  border: 0.1rem  solid #ccc; 
  color: white;
  padding: 0.5rem; 
  font-size: 1rem; 
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
